.profile {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 10px;
    margin: 0 0 30px 15px;
}

.profile__block {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 gray;
    margin: 15px 15px 0;
}

.profile__block--height-sm {
    max-height: 170px;
}

.profile__block--small {
    width: 30%;
}

.profile__block--medium {
    width: 60%;
}

.profile__block--large {
    width: 100%;
}
