.profile {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 10px;
    margin: 0 0 30px 15px;
}

.profile__block {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 gray;
    margin: 15px 15px 0;
}

.profile__block--height-sm {
    max-height: 170px;
}

.profile__block--small {
    width: 30%;
}

.profile__block--medium {
    width: 60%;
}

.profile__block--large {
    width: 100%;
}

.profile__photo {
    padding: 15px;
}

.profile__photo img {
    display: block;
    width: 100%;
    height: auto;
}

.profile__about {
    width: 100%;
}

.about__data {
    margin: 10px 20px;
    border-bottom: 1px solid #E7E8EC;
}

.about__data:last-child {
    border-bottom: none;
}

.data_name {
    font-weight: 600;
    font-size: 20px;
}

.data_status {
    font-size: 14px;
    color: gray;
    padding-bottom: 12px;
    cursor: pointer;
}

.data__item {
    display: flex;
    font-size: 14px;
}

.data__item_label {
    color: gray;
}

.data__item_labeled {
    color: #465885;
    cursor: pointer;
}

.data__item_label {
    width: 30%;
    margin-bottom: 10px;
}

.about__data_info {
    display: flex;
    justify-content: space-evenly;
}

.info__item {
    color: #465885;
    text-align: center;
    cursor: pointer;
    
}

.profile__memories {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.profile__memories_item {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    cursor: pointer;
    color: gray;
    border: 1px solid transparent;
    border-radius: 10px;
}

.profile__memories_item:hover {
    background: rgba(229, 235, 241, 0.9);
}

.create__input {
    display: block;
    margin: 20px auto;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid rgba(112,112,112,0.3);
    color: #2b2a2c;
    outline: none;
    resize: none;
}
