.nav__wrapper {
    display: flex;
}

.nav {
    padding-top: 20px;
}

.nav__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.nav__item:hover {
    border: 1px solid #DCE1E6;
    border-radius: 5px;
    background-color: rgba(81, 129, 184, 0.20);
}

.item__img {
    margin-right: 5px;
}

.item__img img {
    display: block;
    height: auto;
    width: 18px;
}